<!DOCTYPE html>
<html>
    <head>
        <title>Person Page</title>
    </head>
    <body>
        <h1>Person PAGE</h1>
        <p>Hey, Whats up? My name is Taevon. Currently, im just testing out my person erb file.</p>
    </body>
</html>
